[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
urllib3 = ">=1.24.2"
bs4 = "*"
requests = "*"
pyppeteer = "*"
wcag-contrast-ratio = "*"
black = "*"
langdetect = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
